# Feature Extraction

In [1]:
import pandas as pd

raw_data = pd.read_csv(r"d:\Code\ml\troll-tweets\data\raw\IRAhandle_tweets_5.csv")
raw_data.head()

C:\Users\Kartik\AppData\Local\Temp\ipykernel_5388\2801852657.py:3: DtypeWarning: Columns (0,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv(r"d:\Code\ml\troll-tweets\data\raw\IRAhandle_tweets_5.csv")

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,1662453998,ERRIVVVVERS,#ATLCollegeFair + #ATLFair FEB 25TH - GO KART...,United States,English,1/31/2017 19:39,1/31/2017 19:39,853,861,3912,...,Left,1,LeftTroll,0,1662453998,826515291907772416,http://twitter.com/1662453998/statuses/8265152...,https://twitter.com/TayItsago300/status/821446...,NaN,NaN
1,1662453998,ERRIVVVVERS,We must all go to our local federal building o...,United States,English,1/31/2017 21:42,1/31/2017 21:42,853,861,3913,...,Left,1,LeftTroll,0,1662453998,826546180171657218,http://twitter.com/1662453998/statuses/8265461...,NaN,NaN,NaN
2,1662453998,ERRIVVVVERS,Some of you are acting like this shit has been...,United States,English,1/31/2017 23:44,1/31/2017 23:44,853,861,3915,...,Left,1,LeftTroll,0,1662453998,826576920947064832,http://twitter.com/1662453998/statuses/8265769...,NaN,NaN,NaN
3,1662453998,ERRIVVVVERS,Track Sammy Porter on Bandsintown for local co...,United States,English,1/31/2017 23:44,1/31/2017 23:44,853,861,3916,...,Left,1,LeftTroll,0,1662453998,826576966367186944,http://twitter.com/1662453998/statuses/8265769...,http://www.bandsintown.com/track/Sammy%20Porte...,NaN,NaN
4,1662453998,ERRIVVVVERS,Now Playing: AsAP Mob ft. AsAP Ant Lil Uzi Ver...,United States,English,1/31/2017 3:21,1/31/2017 3:21,854,858,3898,...,Left,1,LeftTroll,0,1662453998,826269123059539968,http://twitter.com/1662453998/statuses/8262691...,http://1063.mobi,NaN,NaN

In [2]:
# keep only the columns we need
keep_cols = [
        "content",
        "region",
        "language",
        "publish_date",
        "following",
        "followers",
        "updates",
        "account_type",
        "retweet",
        "account_category",
    ]

df = raw_data[keep_cols]

df.to_csv('5_trimmed.csv', index=False)
df.head()

,content,region,language,publish_date,following,followers,updates,account_type,retweet,account_category
0,#ATLCollegeFair + #ATLFair FEB 25TH - GO KART...,United States,English,1/31/2017 19:39,853,861,3912,Left,1,LeftTroll
1,We must all go to our local federal building o...,United States,English,1/31/2017 21:42,853,861,3913,Left,1,LeftTroll
2,Some of you are acting like this shit has been...,United States,English,1/31/2017 23:44,853,861,3915,Left,1,LeftTroll
3,Track Sammy Porter on Bandsintown for local co...,United States,English,1/31/2017 23:44,853,861,3916,Left,1,LeftTroll
4,Now Playing: AsAP Mob ft. AsAP Ant Lil Uzi Ver...,United States,English,1/31/2017 3:21,854,858,3898,Left,1,LeftTroll

In [3]:
# describe the data
df.describe()

           following      followers       updates        retweet
count  217223.000000  217223.000000  217223.00000  217223.000000
mean      582.201153     629.935076   13673.40161       0.355883
std       938.525153     687.100908   15724.53149       0.478781
min         0.000000       0.000000       1.00000       0.000000
25%         2.000000     178.000000    2363.00000       0.000000
50%         5.000000     348.000000    6563.00000       0.000000
75%       875.000000     833.000000   20098.00000       1.000000
max      5002.000000    4751.000000   64496.00000       1.000000

In [4]:
# number of null values
df.isnull().sum()

content              0
region              46
language             0
publish_date         0
following            0
followers            0
updates              0
account_type         0
retweet              0
account_category     0
dtype: int64

In [5]:
# percentage of null values
df.isnull().sum() / len(df)

content             0.000000
region              0.000212
language            0.000000
publish_date        0.000000
following           0.000000
followers           0.000000
updates             0.000000
account_type        0.000000
retweet             0.000000
account_category    0.000000
dtype: float64

In [6]:
# followers to following ratio
import numpy as np

derived = pd.DataFrame()
derived["followers_to_following_ratio"] = df["followers"].div(df["following"].replace(0, np.nan))
derived['date'] = pd.to_datetime(df['publish_date'], errors='coerce')
derived['hour_of_day'] = derived['date'].dt.hour
derived['day_of_week'] = derived['date'].dt.dayofweek
derived['day_of_month'] = derived['date'].dt.day

derived.head()

,followers_to_following_ratio,date,hour_of_day,day_of_week,day_of_month
0,1.009379,2017-01-31 19:39:00,19,1,31
1,1.009379,2017-01-31 21:42:00,21,1,31
2,1.009379,2017-01-31 23:44:00,23,1,31
3,1.009379,2017-01-31 23:44:00,23,1,31
4,1.004684,2017-01-31 03:21:00,3,1,31

In [7]:
# Extract entities from the text
import re
def extract_hashtags(text):
    return {
        'hashtags': re.findall(r'#\w+', text),
        'count': len(re.findall(r'#\w+', text))
    }

def extract_mentions(text):
    return {
        'mentions': re.findall(r'@\w+', text),
        'count': len(re.findall(r'@\w+', text))
    }

def count_emojis(text):
    return len(re.findall(r'[^\x00-\x7F]+', text))

def count_special_characters(text):
    return len(re.findall(r'[^a-zA-Z0-9\s]', text))

def all_caps(text):
    return all(word.isupper() for word in text.split())

def count_links(text):
    return len(re.findall(r'https?://(?:[-\w.]|(?:%[\da-fA-F]{2}))+', text))

def has_quote(text):
    return 1 if re.search(r'["\'].*["\']', text) else 0

derived['hashtags'] = df['content'].apply(extract_hashtags).apply(lambda x: ', '.join(x['hashtags']))
derived['mentions'] = df['content'].apply(extract_mentions).apply(lambda x: ', '.join(x['mentions']))
derived['count_hashtags'] = df['content'].apply(extract_hashtags).apply(lambda x: x['count'])
derived['count_mentions'] = df['content'].apply(extract_mentions).apply(lambda x: x['count'])
derived['count_emojis'] = df['content'].apply(count_emojis)
derived['count_special_characters'] = df['content'].apply(count_special_characters)
derived['word_count'] = df['content'].apply(lambda x: len(str(x).split()))
derived['count_links'] = df['content'].apply(count_links)
derived['text_length'] = df['content'].apply(len)
derived['all_words_caps'] = df['content'].apply(all_caps).apply(lambda x: 1 if x else 0)
derived['starts_with_hashtag'] = df['content'].apply(lambda x: 1 if x.startswith('#') else 0)
derived['starts_with_mention'] = df['content'].apply(lambda x: 1 if x.startswith('@') else 0)
derived['has_quote'] = df['content'].apply(has_quote)

# check zero values
derived.describe()

,followers_to_following_ratio,date,hour_of_day,day_of_week,day_of_month,count_hashtags,count_mentions,count_emojis,count_special_characters,word_count,count_links,text_length,all_words_caps,starts_with_hashtag,starts_with_mention,has_quote
count,216359.000000,217223,217223.000000,217223.000000,217223.000000,217223.000000,217223.000000,217223.000000,217223.000000,217223.000000,217223.000000,217223.000000,217223.000000,217223.000000,217223.0,217223.000000
mean,73.693247,2016-02-02 04:15:46.584293632,12.210231,2.855338,16.304369,0.293988,2.800877,1.278060,17.601580,12.708875,1.087422,117.453451,0.000235,0.050952,0.0,0.110660
min,0.000000,2014-10-18 02:58:00,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000
25%,0.895238,2015-07-23 11:08:00,7.000000,1.000000,10.000000,0.000000,0.000000,0.000000,10.000000,10.000000,1.000000,102.000000,0.000000,0.000000,0.0,0.000000
50%,12.800000,2015-08-20 04:20:00,13.000000,3.000000,16.000000,0.000000,3.000000,0.000000,13.000000,13.000000,1.000000,131.000000,0.000000,0.000000,0.0,0.000000
75%,101.333333,2016-10-10 08:58:00,18.000000,5.000000,24.000000,0.000000,5.000000,1.000000,16.000000,15.000000,1.000000,137.000000,0.000000,0.000000,0.0,0.000000
max,2573.000000,2018-03-21 23:12:00,23.000000,6.000000,31.000000,17.000000,46.000000,29.000000,197.000000,63.000000,4.000000,642.000000,1.000000,1.000000,0.0,1.000000
std,115.293656,NaN,6.691742,1.970305,8.395807,0.867131,2.764014,3.110508,17.720294,4.101180,0.585248,29.118029,0.015321,0.219901,0.0,0.313712

In [8]:
# save to project folder
derived.to_csv('5_derived.csv', index=False)
derived.head()

,followers_to_following_ratio,date,hour_of_day,day_of_week,day_of_month,hashtags,mentions,count_hashtags,count_mentions,count_emojis,count_special_characters,word_count,count_links,text_length,all_words_caps,starts_with_hashtag,starts_with_mention,has_quote
0,1.009379,2017-01-31 19:39:00,19,1,31,"#ATLCollegeFair, #ATLFair",,2,0,1,18,21,1,144,0,1,0,1
1,1.009379,2017-01-31 21:42:00,21,1,31,,,0,0,0,2,25,0,139,0,0,0,0
2,1.009379,2017-01-31 23:44:00,23,1,31,,,0,0,0,4,27,0,142,0,0,0,0
3,1.009379,2017-01-31 23:44:00,23,1,31,,,0,0,0,6,10,1,83,0,0,0,0
4,1.004684,2017-01-31 03:21:00,3,1,31,,,0,0,0,11,14,1,86,0,0,0,0